.todo-app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app__title {
  text-align: center;
  margin: 2rem 0;
}

.todo-app__form {
  display: flex;
  flex-direction: column;
}

.todo-app__item {
  margin: 1rem 0 0 1rem;
  background: rgba(0, 0, 0, .2);
}

.todo-app__btn {
  margin-top: 2rem;
  cursor: pointer;
}