:root {

}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  min-width: 700px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: darkgray;
}

.container {
  height: 100%;
}
