*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
}